In [ ]:
# This is a Random Forest Regression Model, 
# however when training the model the process will not complete
# Needs bug fixing

In [1]:
#Load cleaned_airline_data.csv into Spark Dataframe
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('ml-delay').getOrCreate()
df = spark.read.csv('cleaned_airline_data_v5.csv', header = True, inferSchema = True)

2022-12-16T13:08:29,164 WARN [Thread-4] org.apache.spark.sql.SparkSession - Using an existing Spark session; only runtime SQL configurations will take effect.

In [2]:
#show first five rows in dataframe. (note this has been transposed in order to easily view)
import pandas as pd
pd.DataFrame(df.take(5), columns=df.columns).transpose()

,0,1,2,3,4
FL_DATE,2013-07-14 00:00:00,2013-07-14 00:00:00,2013-07-14 00:00:00,2013-07-14 00:00:00,2013-07-14 00:00:00
OP_CARRIER,DL,DL,DL,DL,DL
OP_CARRIER_FL_NUM,1004,1005,1006,1007,1007
ORIGIN,ATL,MSP,JFK,ATL,MCI
DEST,ORF,AUS,BOS,MCI,ATL
CRS_DEPT_TIME,2005,1339,1200,1505,1700
DEPT_TIME,2013.0,1336.0,1155.0,1524.0,1703.0
DEP_DELAY,8,-3,-5,19,3
TAXI_OUT,18,10,16,17,10
WHEELS_OFF,2031.0,1346.0,1211.0,1541.0,1713.0
WHEELS_ON,2141.0,1553.0,1244.0,1609.0,1957.0
TAXI_IN,6,3,13,3,18
CRS_ARR_TIME,2154,1619,1317,1620,2005
ARR_TIME,2147.0,1556.0,1257.0,1612.0,2015.0
ARR_DELAY,-7,-23,-20,-8,10
CANCELLED,0,0,0,0,0
DIVERTED,0,0,0,0,0
CRS_ELAPSED_TIME,109,160,77,135,125
ACTUAL_ELAPSED_TIME,94,140,62,108,132
AIR_TIME,70,127,33,88,104
DISTANCE,516,1042,187,692,692
FL_YEAR,2013,2013,2013,2013,2013
FL_MONTH,7,7,7,7,7
FL_DOM,14,14,14,14,14
FL_DOW,1,1,1,1,1

In [3]:
from pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorAssembler
categoricalColumns = ["OP_CARRIER","OP_CARRIER_FL_NUM","ORIGIN","DEST"]

OP_CARRIER_indexer = StringIndexer(inputCol="OP_CARRIER", outputCol="OP_CARRIER_Index")
df_1 = OP_CARRIER_indexer.fit(df).transform(df)

onehotencoder_OP_CARRIER_vector = OneHotEncoder(inputCol="OP_CARRIER_Index", outputCol="OP_CARRIER_vec")
df_2 = onehotencoder_OP_CARRIER_vector.fit(df_1).transform(df_1)

OP_CARRIER_FL_NUM_indexer = StringIndexer(inputCol="OP_CARRIER_FL_NUM", outputCol="OP_CARRIER_FL_NUM_Index")
df_3 = OP_CARRIER_FL_NUM_indexer.fit(df_2).transform(df_2)

onehotencoder_OP_CARRIER_FL_NUM_vector = OneHotEncoder(inputCol="OP_CARRIER_FL_NUM_Index", outputCol="OP_CARRIER_FL_NUM_vec")
df_4 = onehotencoder_OP_CARRIER_FL_NUM_vector.fit(df_3).transform(df_3)

ORIGIN_indexer = StringIndexer(inputCol="ORIGIN", outputCol="ORIGIN_Index")
df_5 = ORIGIN_indexer.fit(df_4).transform(df_4)

onehotencoder_ORIGIN_vector = OneHotEncoder(inputCol="ORIGIN_Index", outputCol="ORIGIN_vec")
df_6 = onehotencoder_ORIGIN_vector.fit(df_5).transform(df_5)

DEST_indexer = StringIndexer(inputCol="DEST", outputCol="DEST_Index")
df_7 = DEST_indexer.fit(df_6).transform(df_6)

onehotencoder_DEST_vector = OneHotEncoder(inputCol="DEST_Index", outputCol="DEST_vec")
df_8 = onehotencoder_DEST_vector.fit(df_7).transform(df_7)
df_8.show(3)

2022-12-16T13:10:05,982 WARN [Thread-4] org.apache.spark.sql.catalyst.util.package - Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.
+-------------------+----------+-----------------+------+----+-------------+---------+---------+--------+----------+---------+-------+------------+--------+---------+---------+--------+----------------+-------------------+--------+--------+-------+--------+------+------+----------------+--------------+-----------------------+---------------------+------------+----------------+----------+----------------+
|            FL_DATE|OP_CARRIER|OP_CARRIER_FL_NUM|ORIGIN|DEST|CRS_DEPT_TIME|DEPT_TIME|DEP_DELAY|TAXI_OUT|WHEELS_OFF|WHEELS_ON|TAXI_IN|CRS_ARR_TIME|ARR_TIME|ARR_DELAY|CANCELLED|DIVERTED|CRS_ELAPSED_TIME|ACTUAL_ELAPSED_TIME|AIR_TIME|DISTANCE|FL_YEAR|FL_MONTH|FL_DOM|FL_DOW|OP_CARRIER_Index|OP_CARRIER_vec|OP_CARRIER_FL_NUM_Index|OP_CARRIER_FL_NUM_vec|ORIGIN_Index|      ORIGIN_vec|DEST_Index|        DEST_vec|
+-------------------+----------+-----------------+------+----+-------------+---------+---------+--------+----------+---------+-------+------------+--------+---------+---------+--------+----------------+-------------------+--------+--------+-------+--------+------+------+----------------+--------------+-----------------------+---------------------+------------+----------------+----------+----------------+
|2013-07-14 00:00:00|        DL|             1004|   ATL| ORF|         2005|   2013.0|        8|      18|    2031.0|   2141.0|      6|        2154|  2147.0|       -7|        0|       0|             109|                 94|      70|     516|   2013|       7|    14|     1|             1.0|(15,[1],[1.0])|                  481.0|   (6630,[481],[1.0])|         0.0| (329,[0],[1.0])|      71.0|(328,[71],[1.0])|
|2013-07-14 00:00:00|        DL|             1005|   MSP| AUS|         1339|   1336.0|       -3|      10|    1346.0|   1553.0|      3|        1619|  1556.0|      -23|        0|       0|             160|                140|     127|    1042|   2013|       7|    14|     1|             1.0|(15,[1],[1.0])|                 1342.0|  (6630,[1342],[1.0])|        11.0|(329,[11],[1.0])|      35.0|(328,[35],[1.0])|
|2013-07-14 00:00:00|        DL|             1006|   JFK| BOS|         1200|   1155.0|       -5|      16|    1211.0|   1244.0|     13|        1317|  1257.0|      -20|        0|       0|              77|                 62|      33|     187|   2013|       7|    14|     1|             1.0|(15,[1],[1.0])|                 1140.0|  (6630,[1140],[1.0])|        16.0|(329,[16],[1.0])|      15.0|(328,[15],[1.0])|
+-------------------+----------+-----------------+------+----+-------------+---------+---------+--------+----------+---------+-------+------------+--------+---------+---------+--------+----------------+-------------------+--------+--------+-------+--------+------+------+----------------+--------------+-----------------------+---------------------+------------+----------------+----------+----------------+
only showing top 3 rows

In [4]:
vectorAssembler = VectorAssembler(inputCols = ['OP_CARRIER_vec', 'OP_CARRIER_FL_NUM_vec', 'ORIGIN_vec','DEST_vec',
                                               'TAXI_OUT', 'TAXI_IN', 'CANCELLED','DIVERTED','CRS_ELAPSED_TIME',
                                               'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'FL_YEAR', 'FL_MONTH',
                                               'FL_DOM', 'FL_DOW'], outputCol = 'features')
v_df = vectorAssembler.transform(df_8)
v_df.show(3)

+-------------------+----------+-----------------+------+----+-------------+---------+---------+--------+----------+---------+-------+------------+--------+---------+---------+--------+----------------+-------------------+--------+--------+-------+--------+------+------+----------------+--------------+-----------------------+---------------------+------------+----------------+----------+----------------+--------------------+
|            FL_DATE|OP_CARRIER|OP_CARRIER_FL_NUM|ORIGIN|DEST|CRS_DEPT_TIME|DEPT_TIME|DEP_DELAY|TAXI_OUT|WHEELS_OFF|WHEELS_ON|TAXI_IN|CRS_ARR_TIME|ARR_TIME|ARR_DELAY|CANCELLED|DIVERTED|CRS_ELAPSED_TIME|ACTUAL_ELAPSED_TIME|AIR_TIME|DISTANCE|FL_YEAR|FL_MONTH|FL_DOM|FL_DOW|OP_CARRIER_Index|OP_CARRIER_vec|OP_CARRIER_FL_NUM_Index|OP_CARRIER_FL_NUM_vec|ORIGIN_Index|      ORIGIN_vec|DEST_Index|        DEST_vec|            features|
+-------------------+----------+-----------------+------+----+-------------+---------+---------+--------+----------+---------+-------+------------+--------+---------+---------+--------+----------------+-------------------+--------+--------+-------+--------+------+------+----------------+--------------+-----------------------+---------------------+------------+----------------+----------+----------------+--------------------+
|2013-07-14 00:00:00|        DL|             1004|   ATL| ORF|         2005|   2013.0|        8|      18|    2031.0|   2141.0|      6|        2154|  2147.0|       -7|        0|       0|             109|                 94|      70|     516|   2013|       7|    14|     1|             1.0|(15,[1],[1.0])|                  481.0|   (6630,[481],[1.0])|         0.0| (329,[0],[1.0])|      71.0|(328,[71],[1.0])|(7314,[1,496,6645...|
|2013-07-14 00:00:00|        DL|             1005|   MSP| AUS|         1339|   1336.0|       -3|      10|    1346.0|   1553.0|      3|        1619|  1556.0|      -23|        0|       0|             160|                140|     127|    1042|   2013|       7|    14|     1|             1.0|(15,[1],[1.0])|                 1342.0|  (6630,[1342],[1.0])|        11.0|(329,[11],[1.0])|      35.0|(328,[35],[1.0])|(7314,[1,1357,665...|
|2013-07-14 00:00:00|        DL|             1006|   JFK| BOS|         1200|   1155.0|       -5|      16|    1211.0|   1244.0|     13|        1317|  1257.0|      -20|        0|       0|              77|                 62|      33|     187|   2013|       7|    14|     1|             1.0|(15,[1],[1.0])|                 1140.0|  (6630,[1140],[1.0])|        16.0|(329,[16],[1.0])|      15.0|(328,[15],[1.0])|(7314,[1,1155,666...|
+-------------------+----------+-----------------+------+----+-------------+---------+---------+--------+----------+---------+-------+------------+--------+---------+---------+--------+----------------+-------------------+--------+--------+-------+--------+------+------+----------------+--------------+-----------------------+---------------------+------------+----------------+----------+----------------+--------------------+
only showing top 3 rows

In [5]:
from pyspark.ml.regression import RandomForestRegressor
rf = RandomForestRegressor(labelCol="ARR_DELAY", featuresCol="features")

In [6]:
from pyspark.ml import Pipeline
pipeline = Pipeline(stages=[vectorAssembler, rf])

In [7]:
from pyspark.ml.tuning import ParamGridBuilder
import numpy as np
paramGrid = ParamGridBuilder() \
    .addGrid(rf.numTrees, [int(x) for x in np.linspace(start = 10, stop = 50, num = 3)]) \
    .addGrid(rf.maxDepth, [int(x) for x in np.linspace(start = 5, stop = 25, num = 3)]) \
    .build()

In [8]:
from pyspark.ml.tuning import CrossValidator
from pyspark.ml.evaluation import RegressionEvaluator
crossval = CrossValidator(estimator=pipeline,
                          estimatorParamMaps=paramGrid,
                          evaluator=RegressionEvaluator(),
                          numFolds=3)

In [9]:
(train_df, test_df) = df_8.randomSplit([0.7, 0.3])

In [ ]:
cvModel = crossval.fit(train_df)

ERROR:root:Exception while sending command.
Traceback (most recent call last):
  File "/home/amcdaid/WORK/spark-3.3.1-bin-hadoop3/python/lib/py4j-0.10.9.5-src.zip/py4j/clientserver.py", line 516, in send_command
    raise Py4JNetworkError("Answer from Java side is empty")
py4j.protocol.Py4JNetworkError: Answer from Java side is empty

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/amcdaid/WORK/spark-3.3.1-bin-hadoop3/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "/home/amcdaid/WORK/spark-3.3.1-bin-hadoop3/python/lib/py4j-0.10.9.5-src.zip/py4j/clientserver.py", line 539, in send_command
    raise Py4JNetworkError(
py4j.protocol.Py4JNetworkError: Error while sending or receiving
Traceback (most recent call last):
  File "/home/amcdaid/anaconda3/lib/python3.9/runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/home/amcdaid/anaconda3/lib/python3.9/runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "/home/amcdaid/anaconda3/lib/python3.9/site-packages/ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "/home/amcdaid/anaconda3/lib/python3.9/site-packages/traitlets/config/application.py", line 846, in launch_instance
    app.start()
  File "/home/amcdaid/anaconda3/lib/python3.9/site-packages/ipykernel/kernelapp.py", line 712, in start
    self.io_loop.start()
  File "/home/amcdaid/anaconda3/lib/python3.9/site-packages/tornado/platform/asyncio.py", line 199, in start
    self.asyncio_loop.run_forever()
  File "/home/amcdaid/anaconda3/lib/python3.9/asyncio/base_events.py", line 601, in run_forever
    self._run_once()
  File "/home/amcdaid/anaconda3/lib/python3.9/asyncio/base_events.py", line 1869, in _run_once
    event_list = self._selector.select(timeout)
  File "/home/amcdaid/anaconda3/lib/python3.9/selectors.py", line 469, in select
    fd_event_list = self._selector.poll(timeout, max_ev)
  File "/home/amcdaid/WORK/spark-3.3.1-bin-hadoop3/python/pyspark/context.py", line 362, in signal_handler
    self.cancelAllJobs()
  File "/home/amcdaid/WORK/spark-3.3.1-bin-hadoop3/python/pyspark/context.py", line 1447, in cancelAllJobs
    self._jsc.sc().cancelAllJobs()
  File "/home/amcdaid/WORK/spark-3.3.1-bin-hadoop3/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py", line 1321, in __call__
    return_value = get_return_value(
  File "/home/amcdaid/WORK/spark-3.3.1-bin-hadoop3/python/pyspark/sql/utils.py", line 190, in deco
    return f(*a, **kw)
  File "/home/amcdaid/WORK/spark-3.3.1-bin-hadoop3/python/lib/py4j-0.10.9.5-src.zip/py4j/protocol.py", line 334, in get_return_value
    raise Py4JError(
py4j.protocol.Py4JError: An error occurred while calling o18.sc
Error in atexit._run_exitfuncs:
Traceback (most recent call last):
  File "/home/amcdaid/WORK/spark-3.3.1-bin-hadoop3/python/pyspark/context.py", line 558, in stop
    self._jsc.stop()
  File "/home/amcdaid/WORK/spark-3.3.1-bin-hadoop3/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py", line 1320, in __call__
  File "/home/amcdaid/WORK/spark-3.3.1-bin-hadoop3/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py", line 1036, in send_command
  File "/home/amcdaid/WORK/spark-3.3.1-bin-hadoop3/python/lib/py4j-0.10.9.5-src.zip/py4j/clientserver.py", line 284, in _get_connection
  File "/home/amcdaid/WORK/spark-3.3.1-bin-hadoop3/python/lib/py4j-0.10.9.5-src.zip/py4j/clientserver.py", line 291, in _create_new_connection
  File "/home/amcdaid/WORK/spark-3.3.1-bin-hadoop3/python/lib/py4j-0.10.9.5-src.zip/py4j/clientserver.py", line 438, in connect_to_java_server
ConnectionRefusedError: [Errno 111] Connection refused

In [ ]:
predictions = cvModel.transform(test_df)